{% extends 'shared/base.html' %}
{% load static %}

{% block content %}


    <h4 class="page-header">Add Animal(s) For Approval:</h4>
    <h5 class="page-header">For Enrichment Item: {{ enrichment_item.name }}</h5>

    <div class="form-div">
        <form class="form" action="{% url 'actnaturalapp:enrichment_item' enrichment_item.id %}" method="post">

            {% csrf_token %}

            <div class="input-div">
                    {% if unapproved_animals %}
                        <label>Animals:</label>
                        <div class="animal-list-container">
                        {% for animal in unapproved_animals %}
                            <p class="animal-list-item">

                                <label for="animal-{{animal.id}}" class="animal-list-label">

                                <input class="filled-in" type="checkbox" id="animal-{{animal.id}}" name="animals" value="{{ animal.id }}"/>
                                
                                <span>{{animal.name}}</span>
                                </label>
                            </p>
                        {% endfor %}
                        </div>
                    {% else %}
                        <div class="no-animal-list">
                            <p>This item is already approved for all of the animals on the team.</p>
                        </div>
                    {% endif %}
            </div>

            <div class="form-button-container">
                {% if unapproved_animals %}
                <button type="submit" class="waves-effect waves-light btn" value="Add">Add</button>
                {% endif %}
                <a class= "cancel-button-link" href="{% url 'actnaturalapp:enrichment_item' enrichment_item.id %}">Cancel</a>
            </div>

        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/base.js' %}"></script>
{% endblock scripts %}