{% extends 'shared/base.html' %}

{% block content %}

    <div class="pending-approval-page-container">
        <div class="page-header">
            <h3>{{ team.name }} Items Waiting For Approval:</h3>
        </div>
        <form class="pending-approval-form" action="{% url 'actnaturalapp:animal_enrichment_items_pending_manager_approval' %}" method="post">
            {% csrf_token %}
            {% if unapproved_team_animal_enrichment_items %}
                <div class="pending-approval-items-container">
                    {% for item in enrichment_items %}
                        <ul class="pending-approval-item collection with-header">
                            <li class="pending-approval-image-container collection-item">
                                <img class="pending-approval-image" src="{{ item.image.url }}" />
                            </li>
                            <li class="pending-approval-item-container collection-header">
                                <span><a class="pending-approval-item-link" href="{% url 'actnaturalapp:enrichment_item' item.id %}">{{ item.name }}</a></span>
                                <span>{{ item.enrichment_type.name }}</span>
                            </li>
                            {% if item.note %}
                                <li class="pending-approval-note-container collection-item">
                                    {{ item.note }}
                                </li>
                            {% endif %}
                            <div class="pending-approval-all-animals">
                                {% for animal in unapproved_team_animal_enrichment_items %}
                                    {% if animal.enrichment_item_id == item.id %}
                                        <li class="pending-approval-animal-container">
                                            <label class="pending-approval-animal" for="item-{{animal.id}}">

                                                <input class="filled-in" type="checkbox" id="item-{{animal.id}}" name="items" value="{{ animal.id }}"/>

                                                <span><a class="page-link approved-for-link" href="{% url 'actnaturalapp:animal' animal.id %}">{{ animal.animal.name}}</a> - {{ animal.animal.species.name }}</span>

                                            </label>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </ul>
                    {% endfor %}
                </div>
                <div class="pending-approval-button-container">
                    <input type="hidden" name="actual_method" value="PUT">
                    <button type="submit" class="waves-effect waves-light btn pending-approval-button" value="Approve">Approve</button>
                <div>
            </form>
        {% else %}
            <h5 class="no-pending-approvals">There are no items waiting for approval</h5>
        {% endif %}
    </div>

{% endblock content %}