{% extends 'shared/base.html' %}

{% block content %}
    
    <h3 class="page-header">Enrichment Log</h3>

    <div class="page-link-container">
        <div class="page-link-div"><a class="page-link" href="{% url 'actnaturalapp:enrichment_log_entry_form' %}">Add Enrichment Log Entry</a></div>
    </div>

    <div class="log-collection-container">
        {% for date in dates %}
            <ul class="log-collection collection with-header">
                <li class="collection-header">
                    <div class="species-name">
                        {{ date }}
                    </div>
                </li>
                {% for enrichment_log_entry in enrichment_log_entries %}
                    {% if enrichment_log_entry.date == date %}
                        <li class="collection-item log-collection-item">
                        <div class="log-content-container">
                                <div class="log-entry-content">
                                    <p><a class="page-link approved-for-link" href="{% url 'actnaturalapp:animal' enrichment_log_entry.animal.id %}"><strong>Animal:</strong> {{ enrichment_log_entry.animal.name }}</a></p>
                                    <p><a class="page-link approved-for-link" href="{% url 'actnaturalapp:enrichment_item' enrichment_log_entry.enrichment_item.id %}"><strong>Enrichment:</strong> {{ enrichment_log_entry.enrichment_item.name }}</a></p>
                                    {% for user in users %}
                                        {% if user.employee.id == enrichment_log_entry.employee_id %}
                                            <p><strong>Added By:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="log-entry-note">
                                    {% if enrichment_log_entry.note %}
                                        <p><strong>Note:</strong> {{ enrichment_log_entry.note }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% if enrichment_log_entry.employee_id == request.user.employee.id %}
                                <div class="entry-log-button-container">
                                    <form action="{% url 'actnaturalapp:enrichment_log_entry_edit_form' enrichment_log_entry.id %}" method="GET">
                                        {% csrf_token %}
                                        <button class="log-icon-button"><i class="small material-icons log-edit-icon">edit</i></button>
                                    </form>

                                    <form action="{% url 'actnaturalapp:enrichment_log_entry' enrichment_log_entry.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="actual_method" value="DELETE">
                                        <button class="log-icon-button"><i class="small material-icons log-delete-icon">delete</i></button>
                                    </form>
                                <div>
                        {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

{% endblock content %}