{% extends 'shared/base.html' %}

{% block content %}
    
    <h3 class="page-header">Enrichment Log</h3>

    <div class="page-link-container">
        <div class="page-link-div"><a class="page-link" href="{% url 'actnaturalapp:enrichment_log_entry_form' %}">Add Enrichment Log Entry</a></div>
    </div>

    <div class="collection-container">
        {% for enrichment_log_entry in enrichment_log_entries %}
            <ul class="collection log-collection">
                <li class="collection-item">
                {{ enrichment_log_entry.date }} - {{ enrichment_log_entry.animal.name }} - {{ enrichment_log_entry.enrichment_item.name }}
                {% if enrichment_log_entry.note %}
                    - {{ enrichment_log_entry.note }} 
                {% endif %}
                {% for user in users %}
                    {% if user.employee.id == enrichment_log_entry.employee_id %}
                        - Added By: {{ user.first_name }} {{ user.last_name }}
                    {% endif %}
                {% endfor %}
                </li>
                {% if enrichment_log_entry.employee_id == request.user.employee.id %}
                    <li class="entry-log-button-container">
                        
                        <form action="{% url 'actnaturalapp:enrichment_log_entry_edit_form' enrichment_log_entry.id %}" method="GET">
                            {% csrf_token %}
                            <button class="log-icon-button"><i class="tiny material-icons log-edit-icon">edit</i></button>
                        </form>

                        <form action="{% url 'actnaturalapp:enrichment_log_entry' enrichment_log_entry.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="actual_method" value="DELETE">
                            <button class="log-icon-button"><i class="tiny material-icons log-delete-icon">delete</i></button>
                        </form>

                    </li>
                {% endif %}
            </ul>
        {% endfor %}
    </div>

{% endblock content %}