{% extends 'shared/base.html' %}

{% block content %}

    <div class="details-container">

        <div class="profile">
        
            <div class="profile-info">
                <h3 class="details-header">{{ enrichment_item.name }}</h3>
                <p>Enrichment Type: {{ enrichment_item.enrichment_type.name }}</p>
                {% if enrichment_item.note %}
                    <p>Note: {{ enrichment_item.note }}</p>
                {% endif %}

                <div class="details-buttons-container">

                    <form action="{% url 'actnaturalapp:enrichment_item_edit_form' enrichment_item.id %}" method="GET">
                        {% csrf_token %}
                        <button class="waves-effect waves-light btn details-edit-button">Edit</button>
                    </form>

                    <form action="{% url 'actnaturalapp:enrichment_item' enrichment_item.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="actual_method" value="DELETE">
                        <button class="waves-effect waves-light btn details-delete-button">Delete</button>
                    </form>

                </div>

                <div class="back-link">
                    <a class="page-link" href="{% url 'actnaturalapp:enrichment_items' %}">Back to Enrichment Items</a>
                </div>

            </div>

            <div class="image-div">
                <img class="profile-image" src="{{ enrichment_item.image.url }}" />
                <form action="{% url 'actnaturalapp:enrichment_item_photo_edit_form' enrichment_item.id %}" method="GET">
                    {% csrf_token %}
                    <button class="waves-effect waves-light btn change-photo-button">Change Photo</button>
                </form>
            </div>

        </div>

        <div class="approved-for-container">
            <div>
                <form action="{% url 'actnaturalapp:animal_enrichment_item_form' enrichment_item.id %}" method="GET">
                    {% csrf_token %}
                    <button class="waves-effect waves-light btn add-approval-button">Submit Animal(s) For Approval</button>
                </form>
                <a class="page-link waiting-approval-link" href="{% url 'actnaturalapp:enrichment_item_animals_waiting_approval' enrichment_item.id %}">View Animals Waiting Approval</a>
                {% if approved_animal_enrichment_items %}
                    <h4  class="approved-for-header">Approved For:</h4>
                {% endif %}
            </div>
            <div class="collection-container">
                {% for specie in species %}
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <div class="species-name">
                                {{ specie }}
                            </div>
                        </li>
                        {% for animal in approved_animal_enrichment_items %}
                            {% if animal.animal.species.name == specie %}
                                <li class="collection-item approved-for-list-item">
                                    <a class="page-link approved-for-link" href="{% url 'actnaturalapp:animal' animal.animal.id %}">{{ animal.animal.name}}</a>
                                    <form action="{% url 'actnaturalapp:animal_enrichment_item' animal.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="actual_method" value="DELETE">
                                        <input type="hidden" name="enrichment_page">
                                        <button class="approved-for-icon-button"><i class="small material-icons">delete</i></button>
                                    </form>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock content %}