{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

    {% if enrichment_item.id is not None %}
        <h3 class="page-header">Edit Enrichment Item:</h3>
    {% else %}
        <h3 class="page-header">Add Enrichment Item:</h3>
    {% endif %}

    <div class="form-div">
        {% if enrichment_item.id is not None %}
            <form class="form" action="{% url 'actnaturalapp:enrichment_item' enrichment_item.id %}" method="post" enctype="multipart/form-data">
        {% else %}
            <form class="form" action="{% url 'actnaturalapp:enrichment_items' %}" method="post" enctype="multipart/form-data">
        {% endif %}

            {% csrf_token %}

            <div class="input-div">
                <label for="name">Name: </label>
                <input required id="name" type="text" name="name" value="{{ enrichment_item.name }}">
            </div>

            <div class="input-div">
                <label for="enrichment_type">Enrichment Type: </label>
                <select required class="form_select" id="enrichment_type" type="text" name="enrichment_type">
                    <option value="" disabled selected>Select</option>
                    {% for enrichment_type in enrichment_types %}
                        <option {% if enrichment_type.id == enrichment_item.enrichment_type_id %}selected{% endif %} value="{{ enrichment_type.id }}">{{ enrichment_type.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-div">
                <label for="note">Note: </label>
                <input id="note" type="text" name="note" value="{{ enrichment_item.note }}">
            </div>

            {% if enrichment_item.id is None %}
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Upload Image</span>
                        <input required type="file" id="image" name="image">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            {% endif %}

            <div class="input-div">
                <label>Animals:</label>
                    {% for animal in animals %}
                        <p>
                            <label for="animal-{{animal.id}}">
                            <input class="filled-in" type="checkbox" id="animal-{{animal.id}}" name="animals" value="{{ animal.id }}"/>
                            <span>{{animal.name}}</span>
                            </label>
                        </p>
                    {% endfor %}
            </div>

            {% if enrichment_item.id is not None %}
                <input type="hidden" name="actual_method" value="PUT">
                <button type="submit" class="waves-effect waves-light btn" value="Update">Update</button>
            {% else %}
                <button type="submit" class="waves-effect waves-light btn" value="Add">Add</button>
            {% endif %}

        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/base.js' %}"></script>
{% endblock scripts %}