/* UNIVERSAL STYLING */

body {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
}

nav {
    padding-left: 1em;
}

.main-content {
    padding: 0em 2em;
}

/* NAVBAR STYLING */

.nav-link {
    color: white;
}

.nav-link:hover {
    color: black;
}

/* LIST STYLING */

.collection-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.collection {
    width: 25%;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 30px !important;
}

.collection-header {
    background-color: #26A69A !important;
    color: white;
    display: flex;
    justify-content: space-between;
}

.collection-header-icons {
    display: flex;
}

.collection-header-delete-icon,.collection-header-edit-icon {
    align-self: center;
    color: white;
}

.collection-header-delete-icon:hover,.collection-header-edit-icon:hover {
    cursor: pointer;
    color: black;
}

.collection-header-icon-button {
    background-color: #26A69A;
    border: none;
}

.page-link {
    color: black !important;
}

.page-link:hover {
    color: #EE6E73 !important;
}

.page-header {
    text-align: center;
}

.page-link-div {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
}

.page-link-container {
    display: flex;
    justify-content: center
}

/* DETAILS STYLING */

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: flex;
}

.profile-info {
    text-align: center;
    margin-top: 50px;
    margin-right: 50px;
}

.details-buttons-container {
    display: flex;
    justify-content: center;
}

.details-edit-button,.details-delete-button {
    margin-left: 5px;
    margin-right: 5px;
}

.add-note-button,.add-approval-button {
    margin-top: 10px;
}

.back-link {
    text-decoration: underline;
    margin-top: 20px;
}

.image-div{
    width: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-content: center;
}

.profile-image {
    max-width: 100%;
    height: auto;
}

.change-photo-button {
    width: 100%;
}

.notes-container,.approved-for-container {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.note-collection,.approved-for-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.note-card,.approved-for-card {
    color: black;
    width: 25%;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 30px !important;
    align-self: center;
}

.approved-for-list-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.note-icons-container {
    display: flex;
    justify-content: center;
}

.note-icon-button,.approved-for-icon-button {
    border: none;
    background-color: white;
}

.note-icon-button:hover,.approved-for-icon-button:hover {
    color: #EE6E73;
    cursor: pointer;
}

.note-icon-button:focus,.approved-for-icon-button:focus {
    background-color: white !important;
}

/* FORM STYLING */

.form {
    width: 30%;
}

.form-div {
    display: flex;
    justify-content: center;
}