/* -------------------------------UNIVERSAL STYLING------------------------------- */

body {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
}

nav {
    padding-left: 1em;
}

.main-content {
    padding: 0em 2em;
}

/* -------------------------------NAVBAR STYLING------------------------------- */

.nav-link {
    color: white;
}

.nav-link:hover {
    color: black;
}

.sidenav {
    width: 60% !important
}

/* -------------------------------LIST STYLING------------------------------- */ 

.home-page {
    display: flex;
    flex-direction: column;
}

.home-page-line-1 {
    align-self: flex-end;
}

.home-page-line-2 {
    align-self: center;
}

.home-page-line-3 {
    align-self: center;
    margin-top: 20px;
}

@media screen and (max-width: 640px) {
    .home-page-line-1 {
        align-self: center;
        font-size: 30px;
    }
    .home-page-line-2,.home-page-line-3 {
        text-align: center;
        margin-top: 20px;
    }
    .home-page-line-2 {
        font-size: 45px;
    }
}

.home-button {
    align-self: center;
    margin-top: 40px;
}

.collection-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.collection {
    width: 25%;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 30px !important;
}

@media screen and (max-width: 640px) {
    .collection-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    
    .collection {
        width: 100%;
        margin-left: 5px !important;
        margin-right: 5px !important;
        margin-bottom: 30px !important;
    }
}

.collection-header {
    background-color: #26A69A !important;
    color: white;
    display: flex;
    justify-content: space-between;
}

.collection-header-icons {
    display: flex;
}

.collection-header-delete-icon,.collection-header-edit-icon {
    align-self: center;
    color: white;
}

.collection-header-delete-icon:hover,.collection-header-edit-icon:hover {
    cursor: pointer;
    color: black;
}

.collection-header-icon-button {
    background-color: #26A69A;
    border: none;
}

.collection-header-link {
    color: white;
}

.collection-header-link:hover {
    color: black;
}

.page-link {
    color: black !important;
}

.page-link:hover {
    color: #EE6E73 !important;
}

.page-header {
    text-align: center;
}

.page-link-div {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
}

.page-link-container {
    display: flex;
    justify-content: center
}

@media screen and (max-width: 640px) {
    .page-link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page-link-div {
        margin-bottom: 5px;
    }
}

.log-icon-button {
    background-color: white !important;
    border: none !important;
}

.log-icon-button:hover {
    cursor: pointer;
}

.log-icon-button:focus {
    background-color: white !important;
}

.log-edit-icon, .log-delete-icon {
    color: black;
}

.log-edit-icon:hover, .log-delete-icon:hover {
    color: #EE6E73;
}

.log-collection-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.log-collection {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 30px !important;
}

.log-collection-item {
    display: flex;
    justify-content: space-between;
}

.entry-log-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

@media screen and (max-width: 640px) {
    .log-collection-item {
        display: flex;
        flex-direction: column;
    }

    .log-entry-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .log-entry-note {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .entry-log-button-container {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
    }
}

.log-content-container {
    width: 100%;
}

.log-entry-content {
    display: flex;
    justify-content: space-between;
}

.log-entry-note {
    display: flex;
    justify-content: flex-start;
}

.pending-approval-page-container {
    display: flex;
    flex-direction: column;
}

.pending-approval-form {
    display: flex;
    flex-direction: column;
}

.pending-approval-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.pending-approval-item {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.pending-approval-item-link {
    color: white;
}

.pending-approval-item-link:hover {
    color: black;
}

.pending-approval-image-container {
    display: flex;
    justify-content: center;
}

.pending-approval-image {
    max-width: 100%;
    height: 200px;
}

.pending-approval-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pending-approval-note-container {
    text-align: center;
}

.pending-approval-all-animals {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pending-approval-animal-container {
    width: 100%;
}

.pending-approval-button-container {
    display: flex;
    margin-bottom: 40px;
    align-self: center;
}

.pending-approval-button {
    padding-left: 75px !important;
    padding-right: 75px !important;
}

.no-pending-approvals {
    text-align: center;
}

.pending-approval-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .pending-approval-item {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .approved-for-list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .approval-delete-icon {
        margin-top: 10px;
    }

    .pending-approval-image {
        max-width: 100%;
        height: 100px;
    }

    .pending-approval-all-animals {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* -------------------------------DETAILS STYLING------------------------------- */

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: flex;
}

.profile-info {
    text-align: center;
    margin-top: 50px;
    margin-right: 50px;
}

.details-buttons-container {
    display: flex;
    justify-content: center;
}

.details-edit-button,.details-delete-button {
    margin-left: 5px;
    margin-right: 5px;
}

.add-note-button,.add-approval-button {
    margin-top: 10px;
}

@media screen and (max-width: 640px) {
    .add-approval-button {
        font-size: 13px !important;
    }
    .animal-approval-button {
        font-size: 11px !important;
    }
}

.add-approval-button {
    margin-bottom: 20px;
}

.approved-for-header {
    margin-top: 40px;
}

.back-link {
    text-decoration: underline;
    margin-top: 20px;
}

.image-div{
    width: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-content: center;
}

.profile-image {
    max-width: 100%;
    height: auto;
}

.change-photo-button {
    width: 100%;
}

@media screen and (max-width: 640px) {
    .profile {
        display: flex;
        flex-direction: column;
    }

    .profile-info {
        margin-right: 0px;
        margin-top: 0px;
    }

    .image-div {
        margin-left: 0px;
    }
}

.notes-container,.approved-for-container,.entry-log-container {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.note-collection,.approved-for-collection,.entry-log-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.note-card,.approved-for-card,.entry-log-collection {
    color: black;
    width: 25%;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 30px !important;
}

@media screen and (max-width: 640px) {
    .note-card {
        width: 100%;
    }
}

.card-date {
    font-size: larger;
    margin-bottom: 20px !important;
}

.card-footer {
    font-size: smaller;
    margin-top: 20px !important;
}

.note-card {
    background-color: #26A69A !important;
    color: white !important;
    -webkit-box-shadow: 2px 3px 2px 0px rgba(71, 71, 71, 0.73) !important; 
    box-shadow: 2px 3px 2px 0px rgba(82, 81, 81, 0.73) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collection-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.approved-for-list-item {
    display: flex;
    justify-content: space-between;
}

.approval-animal-info {
    display: flex;
    flex-direction: column;
}

.approved-by-text {
    font-size: 10px;
}

.approval-delete-icon {
    display: flex;
    align-items: center;
}

.waiting-approval-back-link {
    margin-bottom: 30px;
}

.approved-for-link {
    align-self: center;
}

.note-icons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.note-icon-button {
    border: none;
    background-color: #26A69A;
}

.approved-for-icon-button {
    background-color: white;
    border: none;
    padding: 0px !important;
}

.note-icon-button:hover,.approved-for-icon-button:hover {
    color: #EE6E73;
    cursor: pointer;
}

.note-icon-button:focus {
    background-color: #26A69A !important;
}

.approved-for-icon-button:focus {
    background-color: white !important;
}

.waiting-approval-link {
    text-decoration: underline !important;
}

.approval-animal-info-text {
    text-align: center;
}

/* -------------------------------FORM STYLING------------------------------- */

.form {
    width: 30%;
}

.form-div {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .form {
        width: 100%;
    }
    
    .form-div {
        display: flex;
        justify-content: center;
    }
}

.form-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.cancel-button-link {
    text-decoration: underline;
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;    
}

.cancel-button-link:hover {
    color: #EE6E73;
}

.animal-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.animal-list-label:hover {
    color: #EE6E73;
}

.animal-list-item {
    margin-left: 5px;
    margin-right: 5px;
}

.no-animal-list,.register-text {
    text-align: center;
}

.registration-link {
    text-decoration: underline;
    color: #EE6E73;
}

.registration-link:hover {
    color: #26A69A;
}

@media screen and (max-width: 640px) {
    .add-enrichment-item-button {
        font-size: 13px !important;
    }
}