{% extends 'shared/base.html' %}

{% block content %}
    <h3 class="page-header">Login</h3>
    <div class="form-div">
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p class="register-text">If you are a new user, register <a href="{% url 'actnaturalapp:register' %}" class="registration-link">here</a>.</p>
            <div class="form-button-container">
                <button type="submit" class="waves-effect waves-light btn">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}

