{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

    <h3 class="page-header">Add Animal:</h3>
    <div class="form-div">
        <form class="form" action="{% url 'actnaturalapp:animals' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="input-div">
                <label for="name">Name: </label>
                <input id="name" type="text" name="name" value="{{ animal.name }}">
            </div>

            <div class="input-div">
                <label for="species">Species: </label>
                <select class="form_select" id="species" type="text" name="species">
                    <option value="" disabled selected>Select</option>
                    {% for specie in species %}
                        <option value="{{ specie.id }}">{{ specie.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-div">
                <label for="sex">Sex: </label>
                <select id="sex" type="text" name="sex">
                    <option value="" disabled selected>Select</option>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                </select>
            </div>

            <div class="input-div">
                <label for="age">Age (in years): </label>
                <input id="age" type="number" name="age" value="{{ animal.age }}">
            </div>

            <div class="input-div">
                <label for="weight">Weight (in pounds): </label>
                <input id="weight" type="number" name="weight" value="{{ animal.weight }}">
            </div>

            <div class="file-field input-field">
                <div class="btn">
                    <span>Upload Image</span>
                    <input type="file" id="image_2">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" id="image" name="image">
                </div>
            </div>

            <button type="submit" class="waves-effect waves-light btn" value="Add">Add</button>

        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/base.js' %}"></script>
{% endblock scripts %}