{% extends 'shared/base.html' %}

{% block content %}

    <div class="details-container">

        <div class="profile">
        
            <div class="profile-info">
                <h3 class="details-header">{{ animal.name }}</h3>
                <p>Species: {{ animal.species.name }}</p>
                <p>Sex: {{ animal.sex }}</p>
                <p>Age: {{ animal.age }} years</p>
                <p>Weight: {{ animal.weight }} pounds</p>

                <div class="details-buttons-container">

                    <form action="{% url 'actnaturalapp:animal_edit_form' animal.id %}" method="GET">
                        {% csrf_token %}
                        <button class="waves-effect waves-light btn details-edit-button">Edit</button>
                    </form>

                    <form action="{% url 'actnaturalapp:animal' animal.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="actual_method" value="DELETE">
                        <button class="waves-effect waves-light btn details-delete-button">Delete</button>
                    </form>

                </div>

                <form action="{% url 'actnaturalapp:animal_note_form' animal.id %}" method="GET">
                    {% csrf_token %}
                    <button class="waves-effect waves-light btn add-note-button">Add Note</button>
                </form>

                <div class="back-link">
                    <a class="page-link" href="{% url 'actnaturalapp:animals' %}">Back to Animals</a>
                </div>

            </div>

            <div class="image-div">
                <img class="profile-image" src="{{ animal.image.url }}" />
                <form action="{% url 'actnaturalapp:animal_photo_edit_form' animal.id %}" method="GET">
                    {% csrf_token %}
                    <button class="waves-effect waves-light btn change-photo-button">Change Photo</button>
                </form>
            </div>

        </div>

        <div class="notes-container">
            <div class="notes-header">
                {% if notes %}
                    <h4>Notes:</h4>
                {% endif %}
            </div>
            <div class="note-collection">
                {% for note in notes %}
                    <div class="note-card card ">
                        <div class="card-content">
                            <p class="card-date">{{ note.date }}</p>
                            <p>{{ note.note }}</p>
                            {% for user in users %}
                                {% if user.employee.id == note.employee_id %}
                                    <p class="card-footer">Added By: {{ user.first_name }} {{ user.last_name }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if note.employee_id == request.user.employee.id %}
                            <div class="note-icons-container">

                                <form action="{% url 'actnaturalapp:animal_note_edit_form' note.id %}" method="GET">
                                    {% csrf_token %}
                                    <button class="note-icon-button"><i class="small material-icons edit-note-icon">edit</i></button>
                                </form>

                                <form action="{% url 'actnaturalapp:note' note.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="actual_method" value="DELETE">
                                    <button class="note-icon-button"><i class="small material-icons delete-note-icon">delete</i></button>
                                </form>

                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="approved-for-container">
            <div class="approved-for-header">
                {% if animal_enrichment_items %}
                    <h5>Approved For:</h5>
                {% endif %}
            </div>
            <div class="approved-for-collection">
                <div class="approved-for-card">
                    <ul>
                        {% for item in animal_enrichment_items %}
                            <li class="approved-for-list-item">
                                <a class="page-link" href="{% url 'actnaturalapp:enrichment_item' item.enrichment_item.id %}">{{ item.enrichment_item.name }}</a>
                                <form action="{% url 'actnaturalapp:animal_enrichment_item' item.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="actual_method" value="DELETE">
                                    <input type="hidden" name="animal_page">
                                    <button class="approved-for-icon-button"><i class="tiny material-icons">delete</i></button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="entry-log-container">
            <div class="entry-log-header">
                {% if enrichment_log_entries %}
                    <h5>Enrichment Log:</h5>
                {% endif %}
            </div>
            <div class="entry-log-collection">
                <div class="entry-log-card">
                    <ul>
                        {% for entry in enrichment_log_entries %}
                            <li class="log-list-item">
                                {{ entry.date }} - {{ entry.animal.name }} - {{ entry.enrichment_item.name }}
                                {% if entry.note %}
                                    - {{ entry.note }} 
                                {% endif %}
                                {% for user in users %}
                                    {% if user.employee.id == entry.employee_id %}
                                        - Added By: {{ user.first_name }} {{ user.last_name }}
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}

