{% extends 'shared/base.html' %}

{% block content %}

    {% if note.id is not None %}
        <h3 class="page-header">Edit Note:</h3>
    {% else %}
        <h3 class="page-header">Add Note:</h3>
    {% endif %}

    <div class="form-div">
        {% if note.id is not None %}
            <form action="{% url 'actnaturalapp:note' note.id %}" method="post">
        {% else %}
            <form class="form" action="{% url 'actnaturalapp:animal' animal.id %}" method="post">
        {% endif %}

            {% csrf_token %}

            <div class="input-div">
                <label for="date">Date: </label>
                <input required id="date" type="date" name="date" value="{{ note.date }}">
            </div>

            <div class="input-div">
                <label for="note">Note: </label>
                <input required id="note" type="text" name="note" value="{{ note.note }}">
            </div>

            {% if note.id is not None %}
                <input type="hidden" name="actual_method" value="PUT">
                <button type="submit" class="waves-effect waves-light btn" value="Update">Update</button>
            {% else %}
                <button type="submit" class="waves-effect waves-light btn" value="Add">Add</button>
            {% endif %}

        </form>
    </div>

{% endblock %}