{% extends 'shared/base.html' %}

{% block content %}
    <div class="home-page">
        {% if request.user.employee.position == "Vet" %}
            <h4 class="home-page-line-1">Hi, Dr. {{ request.user.first_name }}!</h4>
        {% else %}
            <h4 class="home-page-line-1">Hi, {{ request.user.first_name }}!</h4>
        {% endif %}
        <h1 class="home-page-line-2">Welcome to Act Natural</h1>
        <h5 class="home-page-line-3">What will the animals on the {{ employee.team.name}} team get for enrichment today?</h5>
        {% if request.user.employee.position == "Vet" %}
            <form class="home-button" action="{% url 'actnaturalapp:animal_enrichment_items_pending_vet_approval' %}" method="get">
                <input type="hidden" name="actual_method" value="GET">
                <button type="submit" class="waves-effect waves-light btn" value="Add">View Pending Enrichment</button>
            </form>
        {% elif request.user.employee.position == "Manager" %}
            <form class="home-button" action="{% url 'actnaturalapp:animal_enrichment_items_pending_manager_approval' %}" method="get">
                <input type="hidden" name="actual_method" value="GET">
                <button type="submit" class="waves-effect waves-light btn" value="Add">View Pending Enrichment</button>
            </form>
        {% else %}
            <form class="home-button" action="{% url 'actnaturalapp:enrichment_log_entry_form' %}" method="get">
                <input type="hidden" name="actual_method" value="GET">
                <button type="submit" class="waves-effect waves-light btn" value="Add">Add Enrichment Log Entry</button>
            </form>
        {% endif %}
    <div>
{% endblock content %}