{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Act Natural</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css" media="screen" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block css %}
    {% endblock %}
</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'actnaturalapp:home' %}" class="brand-logo nav-link site-title">Act Natural</a>
            <ul id="nav-mobile" class="right hid-on-med-and-down">
                {% if request.user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'actnaturalapp:home' %}">Home</a></li>
                    <li><a class="nav-link" href="{% url 'actnaturalapp:animals' %}">Animals</a></li>
                    <li><a class="nav-link" href="{% url 'actnaturalapp:enrichment_items' %}">Enrichment Items</a></li>
                    <li><a class="nav-link" href="{% url 'actnaturalapp:enrichment_log_entries' %}">Enrichment Log</a></li>
                    {% if request.user.employee.position == "Manager" %}
                        <li><a class="nav-link" href="">Approval Pending</a></li>
                    {% endif %}
                    <li><a class="nav-link" href="{% url 'actnaturalapp:logout' %}">Logout</a></li>
                {% else %}
                    <li><a class="nav-link" href="{% url 'actnaturalapp:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock scripts %}

</body>

</html>